/*w3schools-card*/
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 40%;
    border-radius: 50px;

}

    .card:hover {
        box-shadow: 0 50px 50px 0 rgba(0,0,0,0.2);
    }

img {
    border-radius: 50px
}

.container {
    padding: 2px 16px;
}
#altmenu1
{
    display:block;
}
