body 
{
    background-image: url('layout/grey-background.png');
    background-position: center center;
    max-width: 100%;
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
}
input[type=text],[type=date],[type=tel],[type=email],textarea{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-weight:bold;
}

input[type=submit] {
    width: 100%;
    background-color: darkgreen;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
textarea
{
    height:200px;
}
    input[type=submit]:hover {
        background-color: #45a049;
    }


span{
    font-family:Arial;
    font-weight:bold;
    font-size:large;
    margin:auto;
}